body {
  background-color: lightgray;
}
form {
  padding-top: 300px;
  width: 300px;
  margin: 0 auto;
}

.error {
  box-shadow: 0 0 5px red;
}

form input,
select,
textarea {
  width: 100%;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  border-radius: 3px;
  margin-bottom: 10px;
}
form select {
  height: 30px;
  padding: 0px 3%;
}
button {
  font-size: 20px;
  width: 100%;
  border-radius: 4px;

  color: white;
  background-color: black;
}
button:hover {
  color: chocolate;
  background-color: blanchedalmond;
}
.form-message {
  text-align: center;
}
.field-error {
  color: red;
}
.field-success {
  color: green;
}
